version: '3.9'

services:
  bot:
    build: .
    container_name: pager-bot
#    ports:
#      - "8065:8065"
#    env_file:
#      - ./envs/.env.dev
    depends_on:
      - redis
      - webapp
    networks:
      - pager-net

  redis:
    image: redis:7.4.1-alpine
    container_name: pager-redis
    restart: always
    ports:
      - "6321:6379"
#    volumes:
#      - redis-data:/data  # Персистентность
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - pager-net

  webapp:
    image: nginx:1.27-alpine
    container_name: pager-webapp
    ports:
      - "8052:80"
    volumes:
      - ./src/telegram_bot/webapp:/usr/share/nginx/html:ro
    networks:
      - pager-net

networks:
  pager-net:
    driver: bridge
