version: '3.9'

services:
  bot:
    build: .
    container_name: pager-bot
    ports:
      - "8065:8065"  # Если оставите FastAPI, иначе удалите
#    env_file:
#      - ./envs/.env.dev
    depends_on:
      - redis
      - webapp
    networks:
      - pager-net

  redis:
    image: redis:7.4.1-alpine
    container_name: pager-redis
    restart: always
    ports:
      - "6379:6379"
#    volumes:
#      - redis-data:/data  # Персистентность
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - pager-net

  webapp:
    image: nginx:1.27-alpine
    container_name: pager-webapp
#    ports:
#      - "8066:80"  # Host:8066 -> container:80
    volumes:
      - ./src/telegram_bot/webapp:/usr/share/nginx/html:ro
#      - ./src/telegram_bot/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro  # Override default server config
    networks:
      - pager-net

networks:
  pager-net:
    driver: bridge


#  ngrok:
#    image: ngrok/ngrok:latest
#    container_name: ngrok
#    restart: unless-stopped
#    command: >
#      http webapp:80
#      --log=stdout
#      --authtoken ${NGROK_AUTHTOKEN}
#      --domain olid-roger-furnitureless.ngrok-free.dev
#    environment:
#      - NGROK_AUTHTOKEN
#    depends_on:
#      - webapp
#    ports:
#      - "4040:4040"    # ← очень удобно смотреть текущий URL